.topbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 17px 26px -16px rgba(230, 230, 230, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    0px 17px 26px -16px rgba(230, 230, 230, 0);
}

.topbarLeft {
  flex: 4;
  border: 1px solid red;
}

.topbarCenter {
  flex: 4;
  border: 1px solid yellowgreen;
}

.topbarRight {
  border: 1px solid green;
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topbarRight > button {
  margin-right: 5px;
  padding: 5px 10px;
}
